<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Rick and Morty</a>
    <form class="d-flex">
      <input
        id="searchInput"
        name="searchInput"
        [(ngModel)]="searchFilter.name"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        *ngIf="!searching"
        class="btn btn-outline-success"
        type="submit"
        (click)="onSearch()"
      >
        Search
      </button>
      <button
        *ngIf="searching"
        type="button"
        class="btn btn-outline-danger"
        (click)="onClear()"
      >
        Clear
      </button>
    </form>
  </div>
</nav>
