<a [routerLink]="['/characters', character?.id]" [state]="{character}">
  <div class="card">
    <div class="row">
      <div class="col-md-4 image">
        <img src="{{ character?.image }}" class="card-img-top" alt="..." />
        <div [ngClass]="getSpeciesClasses()">
          <p>{{ character?.species }}</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ character?.name }}</h5>
          <div [ngClass]="getStatusClasses()">
            {{ character?.status }}
          </div>
          <label> Origin: </label>
          <p>{{ character?.origin?.name }}</p>
          <label> Last location: </label>
          <p>{{ character?.location?.name }}</p>
        </div>
      </div>
    </div>
  </div>
</a>
